---
layout: default
---

<div class="home">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  {{ content }}

  <div>
    <p>This website started as a learning exercise for me to improve my Git and AWS skills and is now a place for me to share a brief and relaxed version of my resume, useful scripts I've come across and sporadic posts.</p>
    <h4><strong>Where am I currently at?</strong></h4>
    <p>I'm working in the exciting HFT space at <a href="https://www.imc.com/ap/">IMC Trading</a>&nbsp;working on solving challenging problems, improving processes and driving automation.</p>
    <h4><strong>What am I working on?</strong></h4>
    <ul>
    <li>Shipping servers and workloads to AWS + Virtualised environments</li>
    <li>Maintenance and patching of various Windows servers</li>
    <li>Automation of tasks through Powershell to improve the teams throughput</li>
    <li>Enhancing users productivity by implementing creative solutions and tools that suit their needs</li>
    </ul>
    <p><strong>What skills/certs am I working towards or improving?</strong></p>
    <ul>
    <li>AWS Certificated Solutions Architect - Associate</li>
    <li>Python</li>
    <li>Docker</li>
    <li>Git</li>
    </ul>
    <p><strong>What are the top skills that I possess?</strong></p>
    <ul>
    <li>Powershell automation</li>
    <li>Wintel stack (MDT/WSUS/SCCM+PDQ)</li>
    <li>Airwatch and JAMF MDM</li>
    <li>Always learning and asking "what could we be doing better?"</li>
    <li>Patient temperament and positive attitude</li>
    </ul>
    <p><strong>What certs/training have I done?</strong></p>
    <ul>
    <li>Bachelor of Science in IT (Networking) - UTS</li>
    <li>Certified JAMF Pro Administrator</li>
    <li>Cisco Certified Network Associate&nbsp;Routing &amp; Switching (CCNA)</li>
    <li>VMware Certified Professional - Data Center Virtualization</li>
    </ul>
</div>
